.footer svg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer svg  #Layer_1 {
    fill: rgba(34, 73, 87, 0.80);
    z-index: -1;
}

.footer svg  #Layer_2 {
    fill: rgba(32, 223, 127, 0.08);
    z-index: -2;
}